<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>502023391.46124703</real>
				<key>lastModification</key>
				<real>502023391.46124703</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>bootstrap.js</key>
			<dict>
				<key>lastModification</key>
				<real>502023379.44403899</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>bootstrap.min.js</key>
			<dict>
				<key>lastModification</key>
				<real>502023379.44404</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>npm.js</key>
			<dict>
				<key>lastModification</key>
				<real>502023379.44404</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>bootstrap.js</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>npm.js</string>
		</array>
		<array>
			<string>bootstrap.min.js</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
