---
layout: page
title: 天南地北瞎叨叨
description: "An archive of posts sorted by categories."
---

<ul class="tag-box inline">
<li><a href="http://yixuanfranco.github.io/yixuan/2015/11/19/underTheSunshie/">阳光下杀人</a></li>
<li><a href="http://yixuan.li/yixuan/2015/11/20/stupiAndSmart/">愚蠢和叨叨总是成正比的</a></li>
<li><a href="http://yixuan.li/yixuan/2015/11/21/talkAboutLove/">世间安得两全法</a></li>
<li><a href="http://yixuan.li/yixuan/2015/11/25/murmur/">愿我如星君如月</a></li>
<li><a href="http://yixuan.li/yixuan/2015/11/27/tenyears"/>像一首好听的歌</a></li>
<li><a href="http://yixuan.li/yixuan/2015/11/30/talkToFuture/"/>我一定会在未来赴约</a></li>
<li><a href="http://yixuan.li/yixuan/2015/12/10/howToDestroy/"/>如何毁掉一个人</a></li>
<li><a href="http://yixuan.li/yixuan/2016/01/31/feeling/"/>Identity</a></li>
<li><a href="http://yixuan.li/yixuan/2015/12/14/OnlineEdu/"/>在线教育应该怎么玩</a></li>
<li><a href="http://yixuan.li/yixuan/2015/12/07/habit/"/>纪律释放天赋</a></li>
<li><a href="http://yixuan.li/yixuan/2016/03/06/mailinglist/"/>留住你所达到的文明高度.</a></li>
</ul>


{% for category in site.categories %}
<h2>{{ category | first }}</h2>
</span>{{ category | last | size }}</span> 
<ul class="arc-list">
    {% for post in category.last %}
        <li>{{ post.date | date:"%d/%m/%Y"}} <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endfor %}