<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2015-11-19-underTheSunshie.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13560998</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-20-stupiAndSmart.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13562399</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-21-talkAboutLove.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13562298</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-23-friedDumpling.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13562298</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-23-qiniuguideline.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13562202</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-25-murmur.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13562202</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-27-tenyears.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13562101</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-30-talkToFuture.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13562101</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-01-boyfriend.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13562</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-05-places.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13562</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-05-places2.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13561898</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-07-habit.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13561898</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-10-howToDestroy.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13561797</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-12-Dough.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13561702</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-13-saladDressing.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13561702</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-14-OnlineEdu.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.135616</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-15-broccoli.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.135616</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-30-stuDiary.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13561499</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-03-fish.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13561499</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-09-stuDiary1.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13561398</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-05-checklist.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13561302</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-06-mailinglist.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13561302</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-20-contact.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13561201</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-20-moc.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13561201</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-22-dhamma.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.135611</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-1-31-feeling.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.13560998</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-10-rotate.md</key>
			<dict>
				<key>lastModification</key>
				<real>501496250.135625</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-24-ZSH.md</key>
			<dict>
				<key>lastModification</key>
				<real>501662045.97518402</real>
				<key>version</key>
				<dict>
					<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
					<integer>9</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2015-11-19-underTheSunshie.md</string>
		</array>
		<array>
			<string>2016-1-31-feeling.md</string>
		</array>
		<array>
			<string>2016-04-22-dhamma.md</string>
		</array>
		<array>
			<string>2016-04-20-moc.md</string>
		</array>
		<array>
			<string>2016-04-20-contact.md</string>
		</array>
		<array>
			<string>2016-03-06-mailinglist.md</string>
		</array>
		<array>
			<string>2016-03-05-checklist.md</string>
		</array>
		<array>
			<string>2016-02-09-stuDiary1.md</string>
		</array>
		<array>
			<string>2016-02-03-fish.md</string>
		</array>
		<array>
			<string>2015-12-30-stuDiary.md</string>
		</array>
		<array>
			<string>2015-12-15-broccoli.md</string>
		</array>
		<array>
			<string>2015-12-14-OnlineEdu.md</string>
		</array>
		<array>
			<string>2015-12-13-saladDressing.md</string>
		</array>
		<array>
			<string>2015-12-12-Dough.md</string>
		</array>
		<array>
			<string>2015-12-10-howToDestroy.md</string>
		</array>
		<array>
			<string>2015-12-07-habit.md</string>
		</array>
		<array>
			<string>2015-12-05-places2.md</string>
		</array>
		<array>
			<string>2015-12-05-places.md</string>
		</array>
		<array>
			<string>2015-12-01-boyfriend.md</string>
		</array>
		<array>
			<string>2015-11-30-talkToFuture.md</string>
		</array>
		<array>
			<string>2015-11-27-tenyears.md</string>
		</array>
		<array>
			<string>2015-11-25-murmur.md</string>
		</array>
		<array>
			<string>2015-11-23-qiniuguideline.md</string>
		</array>
		<array>
			<string>2015-11-23-friedDumpling.md</string>
		</array>
		<array>
			<string>2015-11-21-talkAboutLove.md</string>
		</array>
		<array>
			<string>2015-11-20-stupiAndSmart.md</string>
		</array>
		<array>
			<string>2016-11-10-rotate.md</string>
		</array>
		<array>
			<string>2016-11-24-ZSH.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>9cfad7b81ef5c07f55e18034c15e207df697cb49a72011bfd892f726eb729bb2</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
