---
layout: default
---





<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }} <br>
  <img width="50" height="50" alt="Glider" src="{{ site.baseurl }}images/glider.png" >
  <p >
  <em>Too fast to live.</em>
  </p>
</div>



<!--这个地方可以放 disqus -->


<div class="comments">
    {% include comments.html %}
</div>

<div class="related">
  <h3>近日的叨叨叨...</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <strong>
			<i><a href="{{ site_url }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
			</a></i>
        </strong>
      </li>
    {% endfor %}
  </ul>
</div>
